body {
  margin: 0;
}

.sidebar {
  height: 100%;
}

#footer {
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #303030;
  margin-top: 0;
  width: 100%;
}

span {
  color: #ff9200;
}

#pizzaimg {
  width: 200px;
  object-fit: contain;
}

#SCpizzaimg{
  display: flex;
  max-width: 100%;
}

/* @media(max-width: 500px){
  .navBtn{
    display: none
  }
} */